body{
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #ececec;
}
.div{
    position: relative;
}
.div1,.div2,.div3,.div4,.div5,.div6{
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    position: absolute;
    width: 200px;
    height: 200px;
    animation-name: mohamed;
    animation-duration: 3s;
    background-size: cover;
    border-radius: 10px;
}
.div2,.div4,.div6{
    animation-direction: reverse;
    right: 0;
}
.div1{
    background-image: url(imgs/win.webp);
}
.div2{
    top: 200px;
    animation-delay: 3s;
    background-image: url(imgs/cr7.jpg);
}
.div3{
    top: 400px;
    animation-delay: 6s;
    background-image: url(imgs/modric.jpg);
}
.div4{
    top: 600px;
    animation-delay: 9s;
    background-image: url(imgs/mb.jpg);
}
.div5{    
    top: 800px;
    animation-delay: 12s;
    background-image: url(imgs/ch.jpg);
}
.div6{
    top: 1000px;
    animation-delay: 15s; 
    background-image: url(imgs/qatar.webp);
}
@keyframes mohamed{
    0%{
        left: 0;
    }100%{
        left: 85%;
    }
}